body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#recordingContainer {
    display: none;
    margin-top: 20px;
}

#highlightedText {
    font-weight: bold;
    color: #3498db;
}
